<!DOCTYPE html>
<html class="no-js" data-ng-app="GarmApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Garm</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" media="screen" href="css/normalize.css">
        <link rel="stylesheet" media="screen" href="css/vendor/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="css/vendor/bootstrap-switch.css">
        <link rel="stylesheet" media="screen" href="css/vendor/flat-ui-fonts.css">
        <link rel="stylesheet" media="screen" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="js/vendor/jquery.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/bootstrap-switch.min.js"></script>
        <script src="js/vendor/angular.min.js"></script>
        <script src="js/vendor/angular-route.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/helper.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body data-ng-controller="Global">
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href='/'><img src="img/branding.png" alt="mozy" onerror="$(this).parent().html('Garm').css('padding', '15px');" height="40" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-items">
                    <li ng-class="{active: $first}" data-ng-repeat="name in controller_names"><a href='#'>{{name}}</a></li>
                </ul>
                <a href="#" class="btn-add-project navbar-right glyphicon glyphicon-wrench" alt="config"></a>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href='#' class="dropdown-toggle" data-toggle="dropdown">{{current_project.name}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li data-ng-repeat="project in projects">
                                <a href="#">{{project.name}}<span set-percent-color class='pull-right label'>{{project.percent}} %</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>
        <div data-ng-view></div>
    </body>
</html>
