<div class="row" data-ng-show="show_the_view()">
    <div class="col-md-3">
        <div class="sidebar-nav list-nav">
            <div class="nav-stat-left">
                <a href="javascript:void(0)" class="label label-info" data-ng-bind="exception_category_stats_info" data-ng-click="toggle_exception_category_label()" data-ng-attr-title="{{exception_category_stats_tooltip()}}"></a>
                <a href="javascript:void(0)" class="label label-primary" data-ng-bind="exception_category_order_label()" data-ng-click="order_exception_category()" data-ng-attr-title="{{exception_category_order_tooltip()}}"></a>
            </div>
            <div class="nav-stat-right">
                <span class="label" data-set-resolved-percentage-color data-ng-bind="current.project.percent + '%'" title="Resolved Percentage"></span>
            </div>
            <table class="search-form">
                <tr>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                            <input id="search_in_exceptions" type="search" class="form-control" placeholder="Search ..." data-ng-model="exception_search.keyword" data-ng-change="start_searching()" data-ng-focus="focus_on_search()" data-ng-blur="blur_on_search()" />
                        </div>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" data-ng-bind-html="truncate(exception_search.scope, 6) + ' <span class=\'caret\'></span>'"></button>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="javascript:void(0)" data-ng-click="set_search_options('scope', 'All')">All</a></li>
                                <li><a tabindex="-1" href="javascript:void(0)" data-ng-click="set_search_options('scope', 'Unresolved Only')">Unresolved Only</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
            <ul class="nav" data-ng-hide="show_search()">
                <!-- TODO: Use table here, for flexible UI adjusting -->
                <li data-ng-class="{active: exception_category === current.exception_category}" data-flash-item data-ng-repeat="exception_category in current.project.exception_categories | orderCategoryBy:exception_category_order:true | filterCategory:exception_search.scope">
                    <a href="javascript:void(0)" data-ui-sref=".project.exception_category({exception_category_id: exception_category.id})">
                        <span class="item-name" data-ng-bind="exception_category.exception_type + ': ' + exception_category.message"></span><span class="pull-right label exception-category-stats-label" data-ng-class="{'label-success': exception_category.resolved, 'label-danger': !exception_category.resolved}" data-ng-bind="exception_category.label_stats"></span>
                    </a>
                    <ul class="nav" id='nav-exception-category-{{exception_category.id}}' data-ng-show="exception_category === current.exception_category">
                        <li data-ng-class="{active: exception === current.exception}" data-ng-repeat="exception in exception_category.exceptions | orderBy:'time_utc':true" data-flash-parent-item data-slide-item>
                            <a href="javascript:void(0)" data-ui-sref=".project.exception_category.exception({exception_category_id: exception_category.id, exception_id: exception.id})" data-ng-bind="get_utc_string_without_tz(exception.time_utc)"></a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="list-group" data-ng-show="show_search()">
                <a href="javascript:void(0)" class="list-group-item" data-ng-repeat="result in exception_search.results | filterCategory:exception_search.scope" data-ui-sref=".project.exception_category.exception({exception_category_id: result.category_id, exception_id: result.exception_id})">
                    <h4 class="list-group-item-heading" data-ng-bind="result.exception_type"></h4>
                    <p class="list-group-item-text" data-ng-bind="get_utc_string_without_tz(result.time_utc)"></p>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-9" data-ui-view></div>
</div>
