<div class='error-status'>
    <div class="make-switch" data-on="success" data-off="danger" data-on-label="<i class='glyphicon glyphicon-ok'></i>" data-off-label="<i class='glyphicon glyphicon-remove'></i>"><input type="checkbox"></div>
</div>
<div class="row">
    <div class="col-md-5 error-info">
        <div class='error-type' data-ng-bind="current.exception_category.exception_type"></div>
        <div class='error-time' data-ng-bind="'Occurred on ' + get_utc_string_with_tz(current.exception.time_utc)"></div>
        <div class='error-mesg' data-ng-bind="current.exception_category.message"></div>
    </div>
    <div class="col-md-7 error-info">
        <pre class='error-comment' data-ng-bind-html="current.exception_category.comment | linky" data-ng-click="set_editing_comment(current.exception_category.comment)" data-ng-hide="current.exception_category.editing_comment"></pre>
        <form data-ng-show="current.exception_category.editing_comment">
            <div class="form-group"><textarea class="error-comment form-control" data-ng-model="current.exception_category.comment_draft"></textarea></div>
            <button type="button" class="btn btn-primary btn-xs" data-ng-click="unset_editing_comment(current.exception_category.comment_draft)">Save</button>
        </form>
    </div>
</div>

<div class="error-details" data-ui-view></div>
